*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: beige;
    
}

.container{
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-top:30px;

    justify-content: center;
    min-height: 90vh;


    }
    form{
        background-color:white;
        border: 2px solid;
        border-radius: 20px;
        padding:15px;
        padding-left:60px;
    }
.button{
   
    
    border: none;
    border-radius: 20px;
    border-bottom: 0px solid black;
    outline: none;
    
    margin-bottom: 10px;
    width: 50%;
    margin-left: 35px;
    margin-top:10px;
    padding: 10px;
}
.button:hover{
    background-color:black;
    color:white ;
    cursor: pointer;
    box-shadow: rgb(36, 34, 34) 1px 1px 1px;
}
label,input{
    margin:5px;
}
.title{
    margin-bottom: 30px;
}

